<ion-view title="Page" hide-nav-bar="true" id="page7" style="background-color:#DF2577;">
  <ion-content padding="false" style="background: url(img/vector-wood-texture.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="page2-slider5" style="width:100%;height:100%;">
      <ion-slide-page id="page2-slide217" style="background:url(&quot;img/imgsrcaHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9GcmVlLVNlYW1sZXNzLVdvb2QtVGV4dHVyZXMtUHJldmlldy0xLmpwZwq90enlargetrueh1036w1600&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/hoq1W5Jz.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 39px;"></div>
        <div id="page2-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFDFD;font-size:40px;">Smile ;)</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page2-slide221" style="background:url(&quot;img/imgsrcaHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9GcmVlLVNlYW1sZXNzLVdvb2QtVGV4dHVyZXMtUHJldmlldy0xLmpwZwq90enlargetrueh1036w1600&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/imagesqtbnANd9GcTAMpN0TEsHE9JCNVV16jVRABooSzvgTt857h7HoHbyq6e5jzXkLw" style="display: block; width: 150%; height: 50%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 57px;"></div>
        <div id="page2-markdown4" class="show-list-numbers-and-dots">
          <p style="color:#FFFAFA;font-size:50px;">I AM Possible</p>
        </div>
        <div class="spacer" style="width: 320px; height: 51px;"></div>
        <a ui-sref="home()" id="page2-button13" class="button button-light button-block">Get Started!</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>