<ion-view title="What are our courses?" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="whatAreOurCourses-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="whatAreOurCourses-list4">
      <ion-item id="whatAreOurCourses-list-item10">Filming &amp; Photography</ion-item>
      <ion-item id="whatAreOurCourses-list-item11">Songwriting &amp; Music Production</ion-item>
      <ion-item id="whatAreOurCourses-list-item12">Contemporary arts </ion-item>
    </ion-list>
    <div>
      <img src="img/depositphotos_100969882-stock-photo-young-people-and-hobbies.jpg" style="display: block; width: 150%; height: 125%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>